.home {
  .calendar-create-task-form {
    display: flex;

    @media (max-width: 769px) {
      flex-direction: column;
      section { margin: 1rem 0 }
    }
  }

  @import './home/header';
  @import './home/calendar';
  @import './home/create-task';
  @import './home/tasks';
  @import './home/footer';
}

.header-menu {
  width: 150px;

  li {
    padding: 0.6rem 1rem;
    &:hover { color: $greenColor !important }
  }
}

.profile-modal > .ant-modal-content > .ant-modal-body {
  display: flex;
  justify-self: center;
  flex-direction: column;
}
