.form-fields {
  @include login-signup-section($whiteColor, 0, 25px, 25px, 0);
  display: flex;
  flex-direction: column;
  padding: 1rem;

  button { margin: 0.5rem 0 }

  .header {
    display: flex;
    justify-content: space-around;

    span {
      font-size: 1.5em;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover { color: $pinkColor }
    }

    .active { color: $pinkColor }
  }

  form {
    display: flex;
    flex-direction: column;
    button, input { margin-top: 1rem }
  }
}
