@mixin font-face($path, $weight) {
  @font-face {
    font-family: 'Heebo';
    src: url($path);
    font-weight: $weight;
  }
}

@mixin center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin login-signup-section($background, $topLeft, $topRight, $bottomRight, $bottomLeft) {
  background: $background;
  border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  width: 430px;
  height: 430px;
}

@mixin custom-btn($background, $hoverColor, $padding: 0.3rem 1.7rem) {
  background: $background;
  color: $whiteColor;
  padding: $padding;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover { background: $hoverColor }
  &:disabled { background: #dddddd; cursor: inherit }
}
